# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# ENV
# =========================
.env
.env.*

# =========================
# LOGS
# =========================
logs
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# ANDROID STUDIO
# =========================
.idea/
.gradle/
**/local.properties

# =========================
# ANDROID BUILD FILES
# =========================
build/
app/build/
*/build/

# =========================
# APK / AAB
# =========================
*.apk
*.aab

# =========================
# JAVA / KOTLIN
# =========================
*.class
*.dex

# =========================
# CACHE
# =========================
captures/
.externalNativeBuild/
.cxx/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# TEMP
# =========================
*.tmp
*.temp